.divider {
  margin: 48px 0;
}

.card-selected {
  border-color: transparent;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}

textarea {
  resize: none;
}

.theme-card {
  margin-bottom: 32px;
}


.button-container {
  justify-content: space-between;

  button {
    margin-top: 16px;
  }
}

.img-overlay {
  position: relative;

  img {
    margin: 0;
    opacity: 0.5;
    display: block;
    width: 240px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .text {
    font-size: 3em;
    text-transform: uppercase;
    color: #E3242B;
    transform: rotate(45deg);
    margin-top: 3em;
  }
}

nz-breadcrumb {
  margin-bottom: 24px;

  .ant-breadcrumb-link {
    cursor: pointer !important;
  }
}