<nz-layout class="layout">
    <nz-header>

        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item routerLink="generate-resume" routerLinkActive="ant-menu-item-selected">Gerar Currículo</li>
        </ul>
    </nz-header>

    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item routerLink="generate-resume">Gerar Currículo</nz-breadcrumb-item>
        </nz-breadcrumb>

        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>

    <nz-footer>
        Gerador de Currículo 2022 - <a target="_blank" href="https://www.instagram.com/camaraxcodes/">@camaraxcodes</a>
    </nz-footer>
</nz-layout>