<div class="resume-container" id="resumeContainer">
    <h1 nz-typography class="resume-name">{{ resume.name }}</h1>

    <h3 nz-typography class="resume-role">{{ resume.desiredRole }}</h3>

    <p>
        <span class="field-name">
            Endereço:
        </span>

        {{ resume.address }}, {{ resume.block }} - {{ resume.city }}/{{ resume.state }} - {{ resume.postalCode | mask:
        '00000-000' }}
    </p>

    <p>
        <span class="field-name">
            Telefones:
        </span>

        {{ resume.phone | mask: '(00) 0000-0000' }}/{{ resume.cellphone | mask: '(00) 00000-0000' }}
    </p>

    <p>
        <span class="field-name">
            E-mail:
        </span>

        {{ resume.email }}
    </p>

    <p *ngIf="resume.summary">
        <span class="field-name">
            Resumo:
        </span>

        {{ resume.summary }}
    </p>

    <div class="social-media-container">
        <a *ngFor="let socialMedia of resume.socialMedias" [href]="socialMedia.url" target="_blank">
            <p class="social-media">
                <i nz-icon [nzType]="socialMedia.icon"></i>

                {{ socialMedia.username }}
            </p>
        </a>
    </div>

    <ng-container *ngIf="resume.skills?.length > 0">
        <nz-divider></nz-divider>

        <h2 nzTypography>Qualificações</h2>

        <ul>
            <li *ngFor="let skill of resume.skills">{{ skill }}</li>
        </ul>
    </ng-container>

    <ng-container *ngIf="resume.jobs[0].enterprise">
        <nz-divider></nz-divider>

        <h2 nzTypography>Experiência Profissional</h2>

        <nz-descriptions nzBordered>
            <nz-descriptions-item *ngFor="let job of resume.jobs"
                [nzTitle]="(job.period[0] | date: 'MMM/y' : '' : 'pt-BR') + ' - ' + (job.period[1] | date: 'MMM/y' : '' : 'pt-BR')"
                nzSpan="3">
                <p class="job-enterprise">{{ job.enterprise }}</p>
                <p class="job-location">{{ job.location }}</p>
                <p class="job-role">{{ job.role }}</p>
            </nz-descriptions-item>
        </nz-descriptions>
    </ng-container>

    <ng-container *ngIf="resume.courses[0].name">
        <nz-divider></nz-divider>

        <h2 nzTypography>Formação Acadêmica</h2>

        <nz-descriptions nzBordered>
            <nz-descriptions-item *ngFor="let course of resume.courses"
                [nzTitle]="'Ano de Conclusão: ' + (course.yearOfConclusion | date: 'yyyy')" nzSpan="3">
                <p class="course-name">{{ course.name }}</p>
                <p class="course-institution">{{ course.institution }}</p>
            </nz-descriptions-item>
        </nz-descriptions>
    </ng-container>

    <ng-container *ngIf="resume.certifications[0].name">
        <nz-divider></nz-divider>

        <h2 nzTypography>Certificações</h2>

        <nz-descriptions nzBordered>
            <nz-descriptions-item *ngFor="let certification of resume.certifications"
                [nzTitle]="'Ano da Certificação: ' + (certification.yearOfConclusion | date: 'yyyy')" nzSpan="3">
                <p class="certification-name">{{ certification.name }}</p>

                <p class="certification-year-of-expiration">
                    Valido até:
                    {{ certification.yearOfExpiration ? (certification.yearOfExpiration | date: 'yyyy') : 'Indefinido'
                    }}
                </p>

                <p class="certification-institution">{{ certification.institution }}</p>
            </nz-descriptions-item>
        </nz-descriptions>
    </ng-container>

    <ng-container *ngIf="resume.additionalInformations[0].additionalInformation">
        <nz-divider></nz-divider>

        <h2 nzTypography>Informações Adicionais</h2>

        <ul>
            <li *ngFor="let additionalInformation of resume.additionalInformations">
                {{ additionalInformation.additionalInformation }}
            </li>
        </ul>
    </ng-container>
</div>

<nz-divider class="divider"></nz-divider>

<button nz-button nzType="primary" (click)="downloadResume()">
    Baixar Currículo
</button>

<button nz-button nzType="default" (click)="goBack()" class="print-button">
    Voltar
</button>